[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Xcpc
Comment=Xcpc - Amstrad CPC Emulator
Categories=Application;Game;Emulator;
Exec=xcpc
Icon=xcpc.xpm
Terminal=false
Type=Application
